{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'platform/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'platform/css/food_plan.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'patients' %}" class="link-lateral">
                <div class="card-lateral">
                    <img src="{% static 'platform/img/paciente.png' %}">
                    <br>
                    <br>
                    <h3>Gerenciar Pacientes</h3>
                </div>
                </a>
                <a  href="{% url 'patient_info_list' %}" class="link-lateral">
                <div class="card-lateral">
                    <img src="{% static 'platform/img/dados_paciente.png' %}">
                    <br>
                    <br>
                    <h3>Dados dos Pacientes</h3>
                </div>
                </a>
                <a href="{% url 'food_plan_list' %}" class="link-lateral">
                <div class="card-lateral">
                    <img src="{% static 'platform/img/plano_alimentar.png' %}">
                    <br>
                    <br>
                    <h3>Plano alimentar</h3>
                </div>
                </a>
            </div>
            <div class="col-md-8">
                {% block 'platform' %} 
                
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock%}